*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
    background-color: #202020f8;
}
.section{
    margin: auto;
    margin-top: 5%;
    width: 500px;
    text-align: center;
}
.header{
    font-size: 45px;
    font-weight: 700;
    color: #ffff;
}
.section p{
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    color: #ffff;
}
.input-field{
    padding: 15px 40px;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 15px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(97, 96, 96, 0.836);
}
.search-field{
    display: flex;
    flex-direction: row;
}
#btn{
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin-left: 10px;

}
.search-field #icon{
    font-size: 20px;
    position: absolute;
    /*transform: translateY(-50%);
    top: 25%;
    margin-left: 10px;*/
    margin-top: 13px;
    margin-left: 10px;
    color: #e8e6e6ed;
}
#load-more-btn{
    padding: 15px 10px; 
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: black;
    color: #ffff;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px auto 50px;
}
#img-section{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
}
#img-section img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    
}

/*MEDIA QUERIES*/

@media (max-width: 768px){
    #img-section{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media (min-width: 468px) and (max-width: 668px){
    #img-section{
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        margin-left: 30px;
    }
    .input-field{
        width: 80%;
        padding: 15px 40px;
    }
    .section{
        width: 400px;
    }
    .header{
        font-size: 40px;
    }
    .section p{
        font-size: 15px;
    }
}
@media (max-width: 320px){
    .section{
        width: 300px;
    }
    .input-field{
        width: 80%;
        padding: 15px 40px;
    }
    .header{
        font-size: 40px;
    }
    .section p{
        font-size: 15px;
    }
    #img-section{
        grid-template-columns: repeat(1, minmax(180px, 1fr));
        margin-left: 30px;
    }
}